@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    outline: 0 none;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif, "宋体";
    list-style: none;
    font-size: 12px;
}

.main {
    width: 980px;
    margin: 0 auto;
    text-align: left;
}

.ovflow {
    overflow: hidden;
}

a {
    color: #000000;
}

a: {
    color: #3F7E15;
    text-decoration: none;
}

a:hover {
    color: #3F7E15;
    text-decoration: underline;
}

.contant {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
    border-left: #DDDDDD 1px solid;
    border-right: #DDDDDD 1px solid;
    text-align: center;
}

.blockContent {
    line-height: 120%;
    line-height: 120%;
}

#centerLcolumn, #bottomLcolumn {
    overflow: hidden;
    text-align: left;
    float: left;
}

#centerRcolumn, #bottomRcolumn {
    overflow: hidden;
    text-align: left;
    float: right;
}

#bottomCcolumn #centerCcolumn {
    overflow: hidden;
    text-align: left;
}

div#content {
    text-align: left;
}

ul#footerbar {
    text-align: center;
    background-image: url(../images/front/hbar.gif);
}

/* 头部*/
input, select, textarea, .inputbox {
    font-family: Arial, sans-serif;
    font-size: 100%;
}

.header {
    height: 105px;
    width: 980px;
}

.header_main {
    height: 20px;
    width: 980px;
    color: #999999;
    border-bottom: #DDDDDD 1px solid;
}

.header_main ul {
    list-style: none;
}

.header_main li {
    padding: 0 10px;
    float: left;
    border-right: #DDDDDD 1px solid;
    height: 20px;
    line-height: 20px;
}

.header_main li a {
    display: block;
    color: #999999;
    line-height: 20px;
    height: 20px;
    text-decoration: none;
}

.header_main li a: {
    color: #999999;
    text-decoration: none;
}

.header_main li a:hover {
    background: #464646;
    color: #FFFFFF;
    text-decoration: none;
}

.header_main .floatright {
    float: right;
    margin: 0;
    padding: 0;
    height: 20px;
    line-height: 20px;
    width: 70px;
    color: #666666;
}

.header_main .bordleft {
    border-left: #DDDDDD 1px solid;
}

.header_main .bordnone {
    border-right: none;
}

.header_main .widthnone {
    width: 0;
}

.header_main span {
    color: #9C162E;
}

/* 跳出登陆*/

.blocklogin {
    position: relative;
    z-index: 101;
}

.login {
    width: 160px;
    position: absolute;
    border: #DDDDDD 1px solid;
    background: url(../images/front/bg_login.gif) repeat-x top;
    right: 0;
    text-align: left;
    padding: 10px 15px 10px 15px;
}

.login p {
    color: #666666;
    padding-top: 3px;
}

.login ul {
    clear: none;
    margin-top: 5px;
}

.login li {
    clear: none;
    color: #666666;
    padding-left: 10px;
    height: 20px;
    line-height: 20px;
    background: url(../images/front/bullet.gif) left no-repeat;
}

.login li a: {
    color: #666666;
    background: none;
    border-bottom: #666666 1px dotted;
}

.login li a: {
    color: #666666;
    background: url(../images/front/bullet.gif) left no-repeat;
    border-bottom: #666666 1px dotted;
}

.login li a:hover {
    background: none;
    background: url(../images/front/bullet.gif) left no-repeat;
    color: #666666;
}

.login .inputbox {
    color: #666666;
    padding-left: 16px;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    width: 136px;
    border: #DDDDDD 1px solid;
}

.username {
    background: url(../images/front/icon-user.gif) 2px 3px no-repeat;
}

.password {
    background: url(../images/front/icon-key.gif) 2px 3px no-repeat;
}

.login .button {
    background: url("../images/front/but-bg.gif") repeat-x scroll center bottom #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #666666;
    cursor: pointer;
    font-size: 12px;
    padding-bottom: 1px;
    padding-top: 3px \9;
    text-transform: uppercase;
}

/* 结束跳出登陆*/

.header_search {
    width: 400px;
    float: right;
    padding-top: 30px;
}

.header_search .inputbox {
    background: url(../images/front/icon-search.gif) no-repeat scroll 8px center #FFFFFF;
    font-weight: bold;
    color: #666666;
    padding-left: 24px;
    height: 19px;
    line-height: 18px;
    width: 270px;
    border: #DDDDDD 1px solid;
}

.Button, .button {
    background: url("../images/front/but-bg.gif") repeat-x scroll center bottom #FFFFFF;
    border: #DDDDDD 1px solid;
    color: #666666;
    cursor: pointer;
    font-size: 100%;
    line-height: 19px;
    padding: 0 15px;
    font-weight: bold;
    padding-bottom: 1px;
    padding-top: 2px;
    text-transform: uppercase;
}

.header_inner {
    height: 80px;
    color: #999999;
    width: 980px;
}

.logo {
    height: 20px;
    margin-top: 10px;
    margin-left: 15px;
    color: #999999;
    width: 980px;
    width: 260px;
    float: left;
}

/* 结束头部*/

/* 导航*/
.menu {
    width: 980px;
    height: 30px;
    line-height: 30px;
    border-top: #DDDDDD 1px solid;
    background: url(../images/front/mainnav-bg.gif) repeat-x bottom;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
    margin: 0;
}

.menu ul li a, .menu ul li a:visited {
    display: block;
    text-decoration: none;
    width: 106px;
    height: 30px;
    text-align: center;
    color: #000000;
    border-right: #DDDDDD 1px solid;
    line-height: 30px;
    font-size: 12px;
    overflow: hidden;
}

.menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.menu ul li {
    float: left;
    position: relative;
}

.menu ul li ul {
    display: none;
}

.menu ul li:hover a {
    color: #000000;
    background: url(../images/front/mainnav-hover.gif) repeat-x bottom;
}

.menu ul li:hover .index {
    background: url(../images/front/mainnav-active.gif) repeat-x top;
}

.menu .index {
    color: #FFFFFF;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    background: url(../images/front/mainnav-active.gif) repeat-x top;
    font-weight: bold;
}

.menu ul li:hover .honghong {
    background: url(../images/front/red/mainnav-active.gif) repeat-x top;
}

.menu .honghong {
    color: #FFFFFF;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    background: url(../images/front/red/mainnav-active.gif) repeat-x top;
}

.menu ul li:hover .macao {
    background: url(../images/front/pink/mainnav-active.gif) repeat-x top;
}

.menu .macao {
    color: #FFFFFF;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    background: url(../images/front/pink/mainnav-active.gif) repeat-x top;
}

.menu .index span, .menu .honghong span, .menu .macao span {
    color: #FFFFFF;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
}

.menu ul li:hover ul {
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
    width: 105px;
}

.menu ul li:hover ul li a.hide {
    color: #000000;
}

.menu ul li:hover ul li:hover a.hide {
    color: #000000;
}

.menu ul li:hover ul li ul {
    display: none;
}

.menu ul li:hover ul li a {
    display: block;
    background: #DDDDDD;
    border: #cccccc 1px solid;
    border-top: none;
    width: 170px;
    text-align: left;
    color: #000;
    padding-left: 10px;
    height: 25px;
    line-height: 25px;
    position: relative;
    left: -1px;
}

.menu ul li:hover ul li a:hover {
    background: #FFFFFF;
    color: #000;
}

.menu ul li:hover ul li:hover ul {
    display: block;
    position: absolute;
    border-top: #CCCCCC 1px solid;
    width: 180px;
    left: 181px;
    top: 0;
}

.menu ul li:hover ul li:hover ul.left {
    left: -131px;
}

/* ie6下面显示色块*/
.menu .indexlink {
    font-weight: bold;
    background: url(../images/front/mainnav-active.gif) repeat-x top;
    color: #FFFFFF;
    display: block;
    height: 30px;
    line-height: 30px;
}

.menu .hongkonglink {
    font-weight: bold;
    background: url(../images/front/red/mainnav-active.gif) repeat-x top;
    color: #FFFFFF;
    display: block;
    height: 30px;
    line-height: 30px;
}

.menu .macaolink {
    font-weight: bold;
    background: url(../images/front/pink/mainnav-active.gif) repeat-x top;
    color: #FFFFFF;
    display: block;
    height: 30px;
    line-height: 30px;
}

/* 结束ie6下面显示色块*/

/* 结束导航*/

/*面包线*/
.breadcrums {
    width: 980px;
    height: 30px;
    line-height: 30px;
    margin-left: 15px;
    text-align: left;
}

.breadcrums span {
    font-weight: bold;
}

/*结束面包线*/

/* 主体*/
.block {
    width: 980px;
    overflow: hidden;
    text-align: left;
}

.blocknh {
    width: 980px;
    overflow: hidden;
}

/*左边主体*/
.leftblock {
    width: 589px;
    float: left;
    display: inline;
    min-height: 400px;
    overflow: hidden;
    border-right: #DDDDDD 1px solid;
}

.leftblock .l_title {
    font-size: 18px;
    line-height: 50px;
    overflow: hidden;
    padding: 0 15px;
    font-weight: bold;
    border-top: #dddddd 1px solid;
}

.leftblock .intro_title {
    padding: 0 15px;
    background: #F7FFF5;
    padding-bottom: 10px;
    _height: 100%;
    border-top: #dddddd 1px solid;
    border-bottom: #dddddd 1px solid;
    overflow: hidden;
}

.leftblock .intro_title .intro_left {
    font-size: 18px;
    float: left;
    line-height: 50px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 350px;
}

.leftblock .intro_title .intro_right {
    width: 200px;
    float: right;
    height: 220px;
    margin-top: 15px;
}

.leftblock .intro_title .intro_left p {
    font-weight: normal;
}

.leftblock .hotellist {
    overflow: hidden;
    width: 589px;
}

.leftblock .hotellist .regconfirm {
    padding: 30px 15px;
}

.leftblock .hotellist .regconfirm a {
    color: #3F7E15;
}

.leftblock .hotellist .regconfirm a:hover {
    color: #3F7E15;
}

.leftblock .hotellist .dtable {
    background: #FCFFFA;
    border-bottom: #dddddd 1px solid;
    line-height: 22px;
}

.leftblock .hotellist .dtable tr {
    height: 30px;
    _height: 20px;
    padding: 0;
    margin: 0;
}

.leftblock .hotellist .dtable td {
    border-bottom: #dddddd 1px dotted;
    padding: 5px;
}

.leftblock .hotellist .dtable .tdnone {
    border-bottom: none;
}

.leftblock .hotellist .dtable .fwt {
    height: 40px;
    padding: 0;
    text-align: center;
    font-weight: bold;
}

.leftblock .hotellist .hoteltitle {
    overflow: hidden;
    background: #F8F8F8;
    line-height: 36px;
    height: 36px;
    border-bottom: #E5E5E5 1px solid;
    padding: 0 15px;
}

.leftblock .hotellist .hoteltitle img {
    float: right;
    margin: 6px 0 0 6px;
}

.leftblock .hotellist .hoteltitle span {
    font-weight: normal;
    padding-left: 5px;
}

.leftblock .hotellist .left {
    float: left;
    font-weight: bold;
    line-height: 36px;
    width: 15%;
    height: 36px;
}

.leftblock .hotellist .bookingtitle {
    height: 24px;
    color: #3F7E15;
    line-height: 24px;
}

.leftblock .hotellist .btop {
    border-top: #E5E5E5 1px solid;
}

.leftblock .hotellist .lefttitle {
    font-weight: bold;
    line-height: 24px;
    width: 100%;
    height: 24px;
}

.leftblock .hotellist .right {
    float: right;
    font-weight: bold;
    text-align: right;
    line-height: 36px;
    height: 36px;
    width: 80%;
}

.leftblock .hotellist .listtitle {
    overflow: hidden;
    line-height: 24px;
    height: 24px;
    padding: 3px 0;
    border-bottom: #dddddd 1px solid;
}

.leftblock .hotellist .listtitle ul {
    margin: 0;
    padding: 0;
}

.leftblock .hotellist .listtitle li {
    float: left;
    height: 24px;
    line-height: 24px;
    font-weight: bold;
    _width: 70px;
    _text-align: center;
}

.leftblock .hotellist .listtitle .titleleft {
    padding: 0 15px;
    line-height: 24px;
    _width: 70px;
    height: 24px;
}

.leftblock .hotellist .listtitle li a, .leftblock .hotellist .listtitle li span {
    display: block;
    line-height: 24px;
    width: 85px;
    height: 24px;
    text-align: center;
    text-decoration: none;
    color: #3F7E15;
}

.leftblock .hotellist .listtitle li a:hover {
    display: block;
    line-height: 24px;
    height: 24px;
    text-decoration: none;
    color: #3F7E15;
}

.leftblock .hotellist .listtitle li .info {
    display: block;
    line-height: 24px;
    height: 24px;
    text-decoration: none;
    background: url(/modules/xmartin/assets/images/hotel_bg.gif) center no-repeat;
    color: #000000;
}

.leftblock .hotellist .listclass {
    width: 559px;
    padding: 15px;

    border-bottom: #dddddd 1px solid;
}

.leftblock .hotellist .listclass .listtop {
    overflow: hidden;
}

.leftblock .hotellist .listclass .list_left {
    float: left;
    width: 399px;
}

.leftblock .hotellist .listclass .list_right {
    width: 120px;
    float: right;
    padding: 10px;
    border: #DDDDDD 3px solid;
    vertical-align: middle;
}

.leftblock .hotellist .listclass .listtop .topleft {
    width: 80px;
    overflow: hidden;
    float: left;
}

.leftblock .hotellist .listclass .listtop .topright {
    width: 472px;
    float: right;
    text-align: left;
    color: #999999;
    overflow: hidden;
}

.leftblock .hotellist .listclass .listtop .topright .title {
    color: #3F7E15;
    height: 24px;
    line-height: 24px;
    font-weight: bold;
    font-size: 14px;
}

.leftblock .hotellist .listclass .listtop .topright a img {

    margin-right: 2px;
}

.leftblock .hotellist .listclass .listtop .topright a {
    height: 24px;
    line-height: 24px;
    margin-right: 10px;
    color: #3F7E15;
    text-decoration: none;
}

.leftblock .hotellist .listclass .listtop .topright a:hover {
    height: 24px;
    line-height: 24px;
    color: #3F7E15;
    text-decoration: underline;
}

.leftblock .hotellist .listclass .listtop table {
    color: #000000;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
}

.leftblock .hotellist .listclass .listtop table td {
    border-bottom: #dddddd 1px dotted;
    height: 32px;
    line-height: 32px;
}

.imgshow {
    width: 258px;
    border: #CCCCCC 1px solid;
    overflow: hidden;
    height: 198px;
}

.imgshow .image {
    width: 255px;
    height: 154px;
    margin: 0 auto;
    text-align: center;
    padding: 3px 0;
}

.imgshow .smallimg {
    width: 252px;
    padding-left: 4px;
}

.imgshow .smallimg li {
    float: left;
    width: 40px;
    display: inline;
    margin: 0 15px;
    _margin: 0 12px;
    text-align: center;
}

.imgshow .smallimg li img {
    padding: 1px;
    border: #CCCCCC 1px solid;
}

.imgshow .smallimg li .show {
    padding: 1px;
    border: #666666 1px solid;
}

.leftblock .hotellist .righttitle {
    line-height: 22px;
    background: #F0F7EB;
    margin-top: 10px;
}

.leftblock .hotellist .righttitle a {
    text-decoration: none;
    color: #3F7E15;
}

.leftblock .hotellist .righttitle a:hover {
    text-decoration: underline;
    color: #3F7E15;
}

.leftblock .hotellist .righttitle tr {
    height: 30px;
}

.leftblock .hotellist .righttitle td {
    border-bottom: #dddddd 1px dotted;
}

.leftblock .hotellist .righttitle .bld {
    height: 40px;
    text-align: center;
    font-weight: bold;
}

.leftblock .hotellist .righttitle p {
    line-height: 13px;
}

.red {
    color: #FF0000;
}

.rela {
    position: relative;
}

.rela .abso {
    position: absolute;
    left: 15px;
    top: 20px;
}

.rela .abso table {
    border: #FF6600 2px solid;
    background: #FFFFFF;
}

.rela .abso table td {
    height: 26px;
    width: 40px;
    border-bottom: #CCCCCC 1px dotted;
    text-align: center;
}

.caplist {
    overflow: hidden;
}

.caplist ul {
    overflow: hidden;
}

.caplist li {
    width: 30%;
    float: left;
    text-align: left;
    line-height: 24px;
}

/*结束左边主体*/

/*会员管理*/
.panel {
    width: 980px;
    overflow: hidden;
    border-top: #dddddd 1px solid;
}

.panel_left {
    padding-top: 10px;
    width: 190px;
    float: left;
    overflow: hidden;
}

.panel_left li {
    width: 160px;
    height: 26px;
    line-height: 26px;
    border-bottom: #dddddd 1px dotted;
    margin: 0 15px;
}

.panel_left .show {
    font-weight: bold;
}

.panel_left li a {
    height: 26px;
    color: #3F7E15;
    line-height: 26px;
    text-decoration: none;
}

.panel_left li a:hover {
    width: 100%;
    height: 26px;
    color: #3F7E15;
    line-height: 26px;
    text-decoration: underline;
}

.panel_right {
    width: 789px;
    min-height: 400px;
    border-left: #dddddd 1px solid;
    float: right;
    overflow: hidden;
}

.panel_right h2 {
    font-weight: bold;
    line-height: 26px;
    background: #F8F8F8;
    padding-left: 15px;
    border-bottom: #dddddd 1px solid;
    height: 26px;
}

.panel_right .dtable {
    background: #FCFFFA;
    border-bottom: #dddddd 1px solid;
    line-height: 22px;
}

.panel_right .dtable tr {
    height: 30px;
    _height: 20px;
    padding: 0;
    margin: 0;
}

.panel_right .dtable td {
    border-bottom: #dddddd 1px dotted;
    padding: 5px;
}

.panel_right .dtable td a {
    color: #3F7E15;
    text-decoration: none;
}

.panel_right .dtable td a:hover {
    color: #3F7E15;
    text-decoration: underline;
}

.panel_right .dtable .fwt {
    height: 40px;
    padding: 0;
    text-align: center;
    font-weight: bold;
}

.panel_right .dtable .tdnone {
    border-bottom: none;
}

/*结束会员管理*/

/*Hotels*/
.hotel {
    width: 390px;
    display: inline;
    overflow: hidden;
    float: right;
    border-top: #DDDDDD 1px solid;
}

.quicksearch {
    width: 390px;
    overflow: hidden;
    border-bottom: #dddddd 1px solid;
}

.quicksearch h2 {
    height: 24px;
    line-height: 24px;
    padding-left: 15px;
    overflow: hidden;
    background: #F7F7F7;
    border-bottom: #dddddd 1px solid;
}

.quicksearch h2 a {
    color: #000000;
    line-height: 24px;
    text-decoration: none;
}

.quicksearch h2 a:hover {
    color: #000000;
    line-height: 24px;
    text-decoration: underline;
}

.quicksearch .searchlist {
    margin: 10px 15px 0 15px;
    width: 370px;
    height: 140px;
    overflow: hidden;
}

.quicksearch .searchlist ul {
    overflow: hidden;
}

.quicksearch .searchlist p {
    line-height: 28px;
    height: 28px;
}

.quicksearch .searchlist .inputbox {
    height: 14px;
    line-height: 14px;
    width: 100px;
    font-size: 12px;
}

.quicksearch .searchlist li {
    width: 50%;
    float: left;
    line-height: 28px;
    height: 28px;
}

.quicksearch .searchlist .radio {
    margin: 0;
    padding: 0;
    margin-left: 8px;
}

.quicksearch .searchbutton {

    border: none;
    margin: 0 auto;
    height: 40px;
    font-weight: bold;
    text-align: center;

}

.quicksearch .searchbutton a {
    display: block;
    line-height: 26px;
    text-decoration: none;
    color: #000000;
    width: 80px;
    background: url("/modules/xmartin/assets/images/idc-universal.png") no-repeat scroll -1px -2px transparent;
}

.quicksearch .searchbutton a:hover {
    display: block;
    line-height: 26px;
    color: #464646;
    text-decoration: none;
    background: url("/modules/xmartin/assets/images/front/idc-universal.png") no-repeat scroll -1px -34px transparent;
}

.specials {
    width: 390px;
    overflow: hidden;
    border-bottom: #dddddd 1px solid;
}

.specials h2 {
    height: 24px;
    line-height: 24px;
    padding-left: 15px;
    overflow: hidden;
    background: #F7F7F7;
    border-bottom: #dddddd 1px solid;
}

.specials h2 a {
    color: #000000;
    line-height: 24px;
    text-decoration: none;
}

.specials h2 a:hover {
    color: #000000;
    line-height: 24px;
    text-decoration: underline;
}

.specials .detailed {
    padding: 15px 15px 10px 15px;
    overflow: hidden;
}

.specials .detailed p {
    height: 20px;
    line-height: 20px;
}

.specials .detailed img {
    float: left;
    margin-right: 3px;
}

.specials .detailed li {
    width: 50%;
    float: left;
    line-height: 20px;
    height: 20px;
}

.specials .detailed a {
    color: #3F7E15;
    text-decoration: none;
}

.specials .detailed a:hover {
    color: #3F7E15;
    text-decoration: underline;
}

#con {
    FONT-SIZE: 12px;
    margin: 0 auto;
    width: 390px;
}

#tags {
    padding: 0;
    margin: 0;
    width: 390px;
    height: 24px;
    background: #f7f7f7;
    border-bottom: #dddddd 1px solid;
}

#tags li {
    border-right: #dddddd 1px solid;
    float: left;
    list-style-type: none;
    height: 24px;
    width: 92px;
}

#tags li a {
    width: 92px;
    text-align: center;
    background: #F7f7f7;
    float: left;
    padding-bottom: 0;
    color: #999;
    line-height: 24px;
    padding-top: 0;
    height: 24px;
    text-decoration: none;
}

#tags li.emptyTag {
    background: none transparent scroll repeat 0 0;
    width: 4px;
}

#tags li.selectTag {
    background-position: left top;
    border-right: #dddddd 1px solid;
    margin-bottom: -2px;
    position: relative;
    height: 25px;
}

#tags li.selectTag a {
    background-position: right top;
    color: #000;
    background: #FFFFFF;
    line-height: 25px;
    height: 25px;
    font-weight: bold;
}

#auction {
    padding: 1px;
    background-color: #fff;
}

.auction {
    display: none;
    width: 390px;
    color: #474747;
    overflow: hidden;
    border-bottom: #dddddd 1px solid;
}

#auction div.selectTag {
    DISPLaY: block;
}

.auction .list {
    color: #999999;
    overflow: hidden;
    margin: 10px 15px 11px 15px;
    _margin: 10px 15px 13px 15px;
    width: 360px;
}

.auction .list ul {
    margin: 0;
    padding: 0;
}

.auction .list li {
    margin: 0;
    padding: 0;
    margin: 6px 0;
    line-height: 16px;
    overflow: hidden;
    border-bottom: #dddddd 1px dotted;
}

.auction .list li a {
    color: #3F7E15;
    line-height: 18px;
    text-decoration: none;
}

.auction .list li a:hover {
    color: #3F7E15;
    line-height: 18px;
    text-decoration: underline;
}

.auction .list li img {
    padding: 0 10px 6px 0;
    float: left;
}

.auction .list li span {
    padding-left: 15px;
}

/*结束酒店*/

/* 结束主体*/

/* 底部*/
.footmain {
    height: 30px;
    width: 980px;
    overflow: hidden;
    border-top: #DDDDDD 1px solid;
    background: #464646;
}

.footmain li {
    float: left;
    color: #FFFFFF;
    line-height: 30px;
    padding: 0 12px;
    border-right: #7D7D7D 1px solid;
}

.footmain li a {
    float: left;
    color: #D7D7D7;
    text-decoration: none;
    line-height: 30px;
}

.footmain li a: {
    float: left;
    color: #D7D7D7;
    line-height: 30px;
    text-decoration: none;
}

.footmain li a:hover {
    float: left;
    color: #FFFFFF;
    text-decoration: underline;
    line-height: 30px;
}

.footmain .top {
    float: right;
    width: 70px;
    padding: 0;
    background: url(../images/front/arrow-3.png) 20px 14px no-repeat #9C162E;
}

.footmain .top a {
    width: 50px;
    padding-left: 30px;
}

.footmain .top a:hover {
    background: url(../images/front/arrow-3.png) 20px 14px no-repeat #7D7D7D;
    text-decoration: none;
}

/* 友情链接*/
.box_title {
    width: 100%;
    width: 960px;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
}

.box_title h3 {
    color: #000000;
    font-size: 13px;
    padding-left: 5px;
}

.box_title ul {
    margin: 0;
    padding: 0;
}

.box_title ul li {
    float: left;
    width: 120px;
    margin: 5px;
    text-align: center;
}

.box_title ul li a {
    margin-right: 5px;
    width: 120px;
    background: #F8F8F8;
    line-height: 30px;
    height: 30px;
    display: block;
    color: #000000;
    text-decoration: none;
}

.box_title ul li a:hover {
    width: 120px;
    color: #000000;
    background: #FFFFFF;
    display: block;
    text-align: center;
}

/*结束友情链接*/

/* 底部*/
.copyright {
    width: 950px;
    text-align: left;
    color: #666666;
    border-top: #DDDDDD 1px solid;
    padding: 10px 15px;
    margin: 0 auto;
    height: 20px;
}

/* 结束底部*/
